[class|="col"] {
    border: 1px solid #eaeaed;
    /*width: 250px;*/
    /*height: 350px;*/
    font-size: .8em;
    line-height: 50px;
    text-align: center;
    color: white;
    font-weight: 700;

}

.card {
    border: 1px solid #eaeaed;
    border-radius: 20px;
    margin: 10px;
    overflow: hidden;
    width: 200px;
    height: 230px;
    display:inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 3px 3px #eaeaed;
}

.title {
    color: black;
    height: 20px;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 120%;
    margin: 4px;
    text-align: left;
}

.channelTitle {
    color: #6c757d;
    text-align: left;
    margin: 4px;
    display:list-item;
    list-style-type: square;
}